.arrayContainer {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  text-align: center;
  white-space: nowrap;
}

.arrayItem {
  display: inline-block;
  float: left;
  position: relative;
}

.testing {
  color: rgb(14, 128, 194);
}
