.arrayContainer {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  text-align: center;
  white-space: nowrap;
}

.arrayItem {
  float: left;
  position: relative;
}
